<header class="row-fluid clearfix white-bg black">
	<img src="img/_logo_tela_qr.png" class="pull-left span3 logo" />
	<div class="pull-left titre span7">
		Observation n°<%= obs.id_obs %>
	</div>
	<a href="#informations-modal" data-toggle="modal">
		<img src="img/s_info_alpha.png" class="pull-left span2 logo" />
	</a>
</header>


<div class="tableview tableview-links" style="top:44px;">
	<div class="row-fluid margin-navbar">
		<div class="text-center">
			<strong>								
				<% if (obs.ce_espece == -1) { %>
					<%= obs.texte_libre %>
				<% } else { %>
					<%= obs.nom_sci %>
				<% } %>
			</strong>
		</div>
		Vue le <%= obs.date %> 
		<% if (obs.commune != '' && obs.commune != TEXTE_HORS_LIGNE) { %>
			à <%= obs.commune %> (<%= obs.code_insee %>)
		<% } %>
		
		<hr class="fine" />
		<% if (obs.famille != null) { %>
			Famille : <%= obs.famille %> <br />
		<% } %>
		Référentiel : 
		<% if (obs.ce_espece == -1) { %>
			<%= obs.ref_libre %>
		<% } else { %>
			<%= obs.referentiel %>
		<% } %>
		<% if (obs.lieu_dit != '') { %>
			<br /> Lieu-dit : <%= obs.lieu_dit %>
		<% } %>
		<% if (obs.station != '') { %>
			<br /> Station : <%= obs.station %>
		<% } %>
		<% if (obs.milieu != '') { %>
			<br /> Milieu : <%= obs.milieu %>
		<% } %>
		<% if (obs.certitude != 'NULL') { %>
			<br /> Certitude : <%= obs.certitude %>
		<% } %>
		<% if (obs.abondance != 'NULL') { %>
			<br /> Abondance : <%= obs.abondance %>
		<% } %>
		<% if (obs.phenologie != 'NULL') { %>
			<br /> Stade phénologique : <%= obs.phenologie %>
		<% } %>
		
		<hr class="fine" />
		<div id="obs-photos-info" class="text-center"></div>
		<div class="text-center"> Nombre de photos : <span id="nbre-photos"><%= photos.length %></span>.</div>
		
		<hr class="fine" />
		<% _.each(photos, function(photo) { %>
			<div class="pull-left miniature text-center" id="elt_<%= photo.id_photo %>">
				<img src="<%= photo.chemin %>" alt="<%= photo.id_photo %>" id="img_<%= photo.id_photo %>" /> 
				<a href="#observation/<%= obs.id_obs %>" id="<%= photo.id_photo %>" class="suppression-element supprimer-photos"><span></span></a>
			</div>
		<% }); %>
		<div class="clearfix"></div>
		<div class="text-center">
			<button class="btn btn-danger suppression-obs" id="<%= obs.id_obs %>"> 
				Supprimer l'observation
			</button>
		</div>
	</div>
</div>


<div class="navbar navbar-fixed-bottom vert-bg">
	<ul class="nav parc-nav row-fluid">
		<li class="span6">
			<a href="#">
				<i class="icon-pencil icon-white"></i>
				Saisie
			</a>
		</li>
		<li class="span6">
			<a href="#transmission">
				Observations
				<i class="icon-share icon-white"></i>
			</a>
		</li>
	</ul>
</div>	
