<header class="row-fluid clearfix margin-bottom-1em white-bg black">
	<a href="#">
		<img src="img/_logo_tela_qr.png" class="pull-left span3 logo" />
	</a>

	<div class="pull-left titre span7">
		Mes observations
	</div>
	
	<div class="margin-top-1em">
		<a href="#informations-modal" data-toggle="modal">
			<img src="img/s_info_alpha.png" class="pull-left span2 logo" />
		</a>
	</div>
</header>

<div id="details-obs" class="text-center alert alert-block hide"></div>
<div id="obs-suppression-infos" class="text-center alert alert-success alert-block hide"></div>
<div class="row-fluid">
	<div class="tableview tableview-links margin-navbar">
		<h4 class="text-center"> 
			Observations à transmettre : <span id="nbre-a-transmettre"> <%= obs.length %> </span>
		</h4>	
		<% if (obs.length == 0) { %>
		<% } else { 	
				var texte = 'Partager au CEL';
		%>
		
			<% if (obs.length >= 3) { %>
				<hr class="fine-ultra"/>
				<div id="obs-a-transmettre-btn" class="text-center">
					<button class="btn btn-warning transmettre-obs">
						<%= texte %>
					</button>
				</div>
			<% } %>
				<ul>
				<%	_.each(obs, function(observation) {
						var attributs = observation.attributes;
				%>
				<li style="margin:0px;" id="li_<%= attributs.id_obs %>">
					<a href="#transmission" id="<%= attributs.id_obs %>" class="a-transmettre suppression-element suppression-obs"><span></span></a>
					
					<a href='#observation/<%= attributs.id_obs %>'>
						<%= attributs.nom_sci %>
						<br />
						Vue le <%= attributs.date %> 
						<% if (attributs.commune != '' && attributs.commune != TEXTE_HORS_LIGNE) { %>
							à <%= attributs.commune %>
						<% } %>
					</a>
					
					<a href="#observation/<%= attributs.id_obs %>" class="detail-disclosure"><span></span></a>
				</li>
			<%	}, this); %>
			</ul>
			<div class="text-center">
				<button class="transmettre-obs btn btn-warning">
					<%= texte %>
				</button>
			</div>
		<% } %>
		
		
		<hr class="fine"/>
		<h4 class="text-center" > 
			Observations déjà transmises : <span id="nbre-transmises"> <%= transmises.length %> </span>
		</h4>
		<% if (transmises.length > 0) { %>
			<div id="obs-transmises-infos">
				<button class="btn btn-danger supprimer-obs-transmises pull-right">
					Supprimer tout
				</button>
			</div>
			<ul>
				<%	_.each(transmises, function(obs_transmise) {
						var arr_attributs = obs_transmise.attributes;
				%>
					<li style="margin:0px;" id="li_<%= arr_attributs.id_obs %>">
						<a href="#transmission" id="<%= arr_attributs.id_obs %>" class="transmises suppression-element suppression-obs"><span></span></a>
						
						<a href='#observation/<%= arr_attributs.id_obs %>'>
							<span class="muted">
								<%= arr_attributs.nom_sci %>
								<br />
								Vue le <%= arr_attributs.date %> 
								<% if (arr_attributs.commune != '' && arr_attributs.commune != TEXTE_HORS_LIGNE) { %>
									à <%= arr_attributs.commune %>
								<% } %>
							</span>
						</a>
						
						<a href="#observation/<%= arr_attributs.id_obs %>" class="detail-disclosure"><span></span></a>
					</li>
				<%	}, this); %>
			</ul>
		<% } %>
	</div>
</div>
		
		
<div id="transmission-modal" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="transmission-modal-label" aria-hidden="true" data-backdrop="static">
	<div class="modal-header">
		<h4 id="transmission-modal-label">Transmission au CEL</h4>
	</div>
	<div class="modal-body">
		<div id="obs-transmission-texte">
			<p> Merci de patienter... </p>
			<div id="obs-transmission-icone"> 
				<img src="img/ajax-loader.gif" /> 
			</div>
			Observation transmise : <span id="nbre_obs">0</span> / <span id="total_obs"></span>
		</div>
		<div id="obs-transmission-infos"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary hide" id="obs-transmission-btn" onclick="location.reload();" >
			Continuer
		</button>
	</div>
</div>


<div id="compte-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="compte-label" aria-hidden="true" data-backdrop="static">
	<div class="modal-header">
		<h4 id="compte-label">
			Compte Tela
			<button class="pull-right btn btn-info" data-dismiss="modal" > 
				Fermer
			</button>
		</h4>
	</div>
	<div class="modal-body">
		<div> 
			<label for="courriel">Courriel * :</label> 
			<input id="courriel" type="email" name="courriel" value="<%= email %>"/>
			<input id="id_utilisateur" name="id_utilisateur" type="hidden"/>
			
			<% 
			var flag = '',
				inverse = 'hide';
			if  (email != null) {
				flag = 'hide';
				inverse = '';
			} %>
			<button id="transmettre_courriel" class="btn btn-success btn-block <%= inverse %>">
				Transmettre avec ce compte
			</button>
			<label for="courriel_memoire" id="zone_memoire" class="<%= flag %>">
				Se souvenir de moi :
				<input type="checkbox" name="courriel_memoire" id="courriel_memoire" checked="checked">
			</label>
			
			<button id="valider_courriel" class="btn btn-info btn-block <%= flag %>">
				<i class="icon-repeat"></i>
				Valider ce compte Tela
			</button>
			<div id="utilisateur-infos" class="text-center text-info infos"></div>
		</div>
		<div id="zone_prenom_nom" class="hide">
			<hr class="fine-ultra"/>
			<div>
				<label for="prenom">Prénom :</label>
				<input id="prenom_utilisateur" name="prenom" type="text" value="<%= prenom %>"/>
			</div>
			
			<div>
				<label for="nom">Nom :</label>
				<input id="nom_utilisateur" name="nom" type="text" value="<%= nom %>"/>
			</div>
		</div>
		<div id="zone_courriel_confirmation" class="hide">
			<label for="courriel_confirmation">
				Courriel (confirmation) <strong class="obligatoire">*</strong>  : <br />
			</label>
			<input id="courriel_confirmation" name="courriel_confirmation" type="text"/>
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>


<div class="navbar navbar-fixed-bottom vert-fonce-bg">
	<ul class="nav parc-nav row-fluid">
		<li class="span6">
			<a href="#">
				<i class="icon-pencil icon-white"></i>
				Nouvelle obs.
			</a>
		</li>
		<li class="span5 active">
			<a href="#transmission">
				Mes obs.
				<i class="icon-share icon"></i>
			</a>
		</li>
	</ul>
</div>	
